[class*=" iconochive-"], [class^=iconochive-] {
    font-family: Iconochive-Regular !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.iconochive-logo:before {
    content: "\1f3db"
}

.iconochive-image:before {
    content: "\1f5bc"
}

.iconochive-web:before {
    content: "\1f5d4"
}

.iconochive-latest:before {
    content: "\2208"
}

.iconochive-right:before {
    content: "\2c3"
}

.iconochive-download:before {
    content: "\1f4e5"
}

.iconochive-x:before {
    content: "\1f5d9"
}

.iconochive-embed:before {
    content: "\1f517"
}
