/**
 * backgrounds 
 */

:root {
    --background-img: url("../pics/countries/israel_flag.png");
}

body, .appMount_c99875 {
    background: var(--background-img);
}

.wrapper__216eb {
    background-color: transparent;
}