
/**
 * App
 */

 * {
    font-family: var(--font);
    color: var(--fg);
}


.app-2CXKsg {
    padding: 10px;
}

.layers-OrUESM, .layers-1YQhyW {
    border-radius: var(--theme-roundness);
}

.bg-1QIAus {
    padding: 10px;
    background: var(--wbg) no-repeat;
    background-size: cover;
}

.chat-2ZfjoI, 
    .container-ZMc96U.themed-Hp1KC_ {
    background: var(--bg2);
}

.container-2o3qEW, 
    .member-48YF_l, 
    .members-3WRCEx,
    .container-1NXEtd,
    .wrapper-1_HaEi,
    .chatContent-3KubbW 
    {
    background: var(--bg3);
}


/** 
 * Background Stuff
 */

.overlayBackground-1KgwVi,
    .theme-dark .scroller-3X7KbA,
    .theme-light .scroller-3X7KbA  {
    background: var(--bg2);
}

#app-mount {
    background: var(--bg);
}

.userProfileInnerThemedNonPremium-1gT-zY {
    background: var(--wbg);
    background-size: cover;
}

.container-2cd8Mz {
    background: var(--bg2);
}

.nowPlayingColumn-1eCBCN,
    .container-1oAagU,
    .wrapper-2RrXDg,
    .theme-dark .scroller-WSmht3,
    .theme-light .scroller-WSmht3,
    .contentRegion-3HkfJJ
    {
    background: var(--bg3);
}

.sidebarRegionScroller-FXiQOh,
    .contentRegionScroller-2_GT_N {
    background: var(--bg4);
}

.privateChannels-oVe7HL,
    .theme-dark .scroller-WSmht3,
    .theme-light .scroller-WSmht3, 
    .root-g14mjS {
    background: var(--bg4);
}

.sidebar-1tnWFu {
    background: var(--bg2);
}

.quickswitcher-pKcM9U {
    background: var(--bg4);
    border-radius: var(--theme-roundness);
}

/**
 * Search bars
 */

.searchBar-3TnChZ {
    background: var(--bg4);
}

.scroller-2qwVWY {
    background: var(--bg);
    border-radius: calc(var(--theme-roundness) / 2);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG,
    .searchBar-2aylmZ,
    .input-3r5zZY,
    .container-1SX9VC,
    .lookFilled-yCfaCM.colorBrand-I6CyqQ
    {
    background: var(--bg);
    border-radius: var(--theme-roundness);
}

.theme-dark .container-1NXEtd,
    .theme-light .container-1NXEtd 
    {
    background: var(--bg4);
}

.theme-dark .container-YkUktl,
    .theme-light .container-YkUktl {
    background: var(--bg);
    border-radius: var(--theme-roundness);
}

/**
 * Search results
 */
 
.searchResultsWrap-5RVOkx {
    background: var(--bg4);
    border-radius: var(--theme-roundness);
}

.searchHeader-1r_ZSh,
    .searchResult-O9NDji,
    .theme-dark .perk-19D_HN,
    .theme-light .perk-19D_HN {
    background: var(--bg);
}

.searchHeader-1r_ZSh,
    .searchResult-O9NDji {
    border-radius: var(--theme-roundness);
}

/**
 * Server Boosting
 */

.theme-dark .perksModal-CLcR1c,
    .theme-light .perksModal-CLcR1c {
    background: var(--bg2);
}

/**
 * Server list
 */

.expandedFolderBackground-1kSAf6 {
    background: var(--bg4);
}

/**
 * Textarea
 */

.theme-dark .scrollableContainer-15eg7h, 
.theme-light .scrollableContainer-15eg7h 
    {
    background: var(--bg);
}
 
.attachedBars-2BCP3l{
    margin-bottom: 4px;
}
 
.attachButtonInner-2mwer8 svg path{
    fill: rgb(55, 55, 55);
}
 
.attachedBars-2BCP3l svg path:hover {
    fill: rgb(100, 100, 100);
}
 
/** 
 * Usernames
 */
 
.username-h_Y3Us {
    font-family: var(--font-2), monospace;
}
 
/**
 * BetterDiscord
 */
 
.bd-switch .bd-switch-body {
    background: rgba(230, 0, 0, 0.5);
}
 
.bd-switch .bd-switch-handle {
    fill: black;
}
 
.bd-switch-checked .bd-switch-body {
    background: var(--theme-bg);
}
 
/** 
 * roundness
 */
 
.container-32HW5s .interactive-1vLZ_I.interactive-iyXY_x,  
    .content-1gYQeQ,
    .item-3XjbnG.themed-2-lozF,
    .changePasswordButton-3j5UVD,
    .flexChild-3PzYmX button,
    .buttonContainer-cmXa0P button,
    .buttonsContainer-12kYno button,
    .buttonsContainer-5mLFN9 button,
    .button-f2h6uQ,
    .card-16VQ8C,
    .connection-YOVI9j,
    .guild-2Fq4I5,
    .detailsBlock-24pLFz,
    .inputWrapper-1YNMmM input,
    .item-2idW98,
    .select-1Ia3hD,
    .layout-1qmrhw,
    .wrapper-2vIMkT,
    .channelTextArea-1VQBuV,
    .scrollableContainer-15eg7h,
    .member-48YF_l,
    .panels-3wFtMD
    {
    border-radius: var(--theme-roundness);
 }

/**
 * Other
 */

 .container-2McqkF, 
 .container-18GwIk,
 .searchBox-3IjAC1,
 .menu-1QACrS,
 .messagesPopoutWrap-3zryHW,
 .container-2ebMPP
 {
 background: var(--bg4);
 border-radius: var(--theme-roundness);
}

.theme-dark .focused-2FU0YH,
 .theme-light .focused-2FU0YH,
 .header-3_zmOb,
 .container-2rzKKA,
 .colorDefault-CDqZdO.focused-3qFvc8,
 .header-1w9Q93,
 .messageGroupWrapper-1jf_7C,
 .bigPerkCard-1uwmWV,
 .smallPerkCard-2sX_--,
 .actionButton-3-B2x-,
 .messageContainer-3VTXBC,
 .messages-23can0
 {
 background: var(--bg);
}

.messageGroupWrapper-1jf_7C,
 .container-32HW5s,
 .colorDefault-CDqZdO.focused-3qFvc8,
 .container-2rzKKA,
 .messageContainer-3VTXBC,
 .messages-23can0 {
 border-radius: var(--theme-roundness);
}

.applicationStore-2nk7Lo {
 background: var(--bg2);
}

.scroller-29cQFV,
 .channelHeader-DFRX8q {
 background: var(--bg4);
}

.replyBar-1oi75v, 
    .threadSuggestionBar-3ExSyc,
    .channelTextArea-1FufC0,
    .attachedBars-2BCP3l {
    background: var(--bg4);
} 

[data-slate-string] {
    color: var(--fg2);
}

.childWrapper-1j_1ub {
    background: var(--home-logo);
    background-size: cover;
}

.homeIcon-r0w4ny {
    display: none;
}

.modeSelected-3DmyhH .content-1gYQeQ, 
    .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background: var(--bg);
}

.messageListItem-ZZ7v6g {
    animation: var(--anim-cooldown) test-anim linear;
}

@keyframes test-anim {
    0% {
        left: -100%;
        opacity: 0;
    }
    50% {
        left: -50%;
        opacity: 0.5;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.buttonText-1c-l_x {
    color: var(--fg2);
}

.children-3xh0VB:after {
    display: none;
}

/**
 *Channel Tabs 
 */
 
.channelTabs-newTab {
    background: var(--theme-bg);
    color: rgba(100, 100, 100, 0.5);
}
 
.channelTabs-newTab:hover {
    background: var(--bg2);
    color: var(--theme-bg);
}
 
.channelTabs-tabContainer {
    padding: 10px;
    background: transparent;
    border-top-right-radius: var(--theme-roundness);
    border-top-left-radius: var(--theme-roundness);
}
 
.channelTabs-tabNav {
    background: var(--theme-bg);
    border-radius: var(--theme-roundness);
}
 
.channelTabs-tab:not(.channelTabs-selected),
    .channelTabs-tab.channelTabs-selected,
    .avatarWrapper-1B9FTW.withTagAsButton-OsgQ9L 
    {
    border-radius: var(--theme-roundness);
}