* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Arabic Script';
    src: url(../fonts/A\ Arslan\ Wessam\ B\ A\ Arslan\ Wessam\ B.ttf);
}

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background: black;
    color: #0bda51;
}

.page.ar {
    font-family: 'Arabic Script', sans-serif;
    text-align: right;
}

.page.ar h1 {
    font-size: 100px;
}

.page.ar h2 {
    font-size: 75px;
}

.page.ar h3 {
    font-size: 50px;
}

.page.ar h4 {
    font-size: 40px;
}

.page.ar p, .page.ar li {
    font-size: 35px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

p, li {
    font-size: 25px;
}

header {
    position: sticky;
    top: 0;
    justify-content: space-between;
}

header, .projects-grid, .tech-grid > div, .projects-grid > div, .calligraphy-grid > div, .socials-grid > div {
    display: flex;
}

.title-container, .tech-grid > div h4, .projects-grid > div h4, .calligraphy-grid > div h4, .socials-grid > div h4, footer {
    text-align: center;
}

.tech-grid, .projects-grid, .calligraphy-grid, .socials-grid {
    justify-content: space-evenly;
}

.projects-grid > div, .calligraphy-grid > div, .socials-grid > div {
    align-items: center;
}

.tech-grid > div, .projects-grid > div, .calligraphy-grid > div, .socials-grid > div {
    color: black;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    border-color: #0bda51;
    flex-direction: column;
    justify-content: space-between;
}

.tech-grid > div h4, .projects-grid > div h4, .calligraphy-grid > div h4, .socials-grid > div h4 {
    color: white;
}

header, .tech-grid > div, .projects-grid > div, .calligraphy-grid > div, .socials-grid > div, footer {
    background: #0bda51;
}

header li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

header a {
    color: white;
    text-decoration: none;
}

header li a {
    color: white;
}

header li a, .projects-grid > div, .tech-grid > div, .calligraphy-grid > div, .socials-grid > div {
    transition: all 0.25s ease-in-out;
}

.bg-silver {
    background: silver;
}

.tech-grid, .projects-grid, .calligraphy-grid {
    gap: 25px;
}

.tech-grid, .calligraphy-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, fit-content);
}

.title-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tech-grid {
    padding-top: 5px;
    padding-bottom: 25px;
}

.projects-grid div {
    width: 500px;
}

.socials-grid {
    display: grid;
    grid-template-columns: repeat(4, 18%);
}

footer {
    color: white;
    font-size: 30px;
    height: 50px;
}

.space {
    height: 50px;
}

a.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
