@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-a: #0bda51;
    --color-b: #006400;
    --color-c: #3fff00; 
}

html {
    scroll-behavior: smooth;
}

body, html {
    padding: 0;
    height: 100%;
    margin: 0;
    width: 100%;
    word-break: break-all;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(circle at top left,rgba(11, 218, 81, 1) 35%, rgba(63, 255, 0, 1) 55%, rgba(63, 255, 0, 1) 65%, rgba(0, 100, 0, 1) 85%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Jost', sans-serif;
    height: fit-content;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: black;
    z-index: 2;
}

nav {
    height: fit-content;
}

.link {
    position: relative;
    top: 12px;
    background: radial-gradient(circle at top left,rgba(11, 218, 81, 1) 35%, rgba(63, 255, 0, 1) 55%, rgba(63, 255, 0, 1) 65%, rgba(0, 100, 0, 1) 85%);
    transition: all 0.25s ease-in-out;
    background-color: var(--color-b);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    color: black;
}

.link:hover {
    background-position: -500px 0;
    background-size: 100% 100%;
}

h1, h2 {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 40vh;
    font-weight: 900;
    color: black;
    padding-bottom: 0;
}

h2 {
    padding-top: 0;
    font-size: 15vh;
    font-weight: 700;
    color: black;
}

.about-container, .projects-container {
    background: black;
    padding-top: 50px;
    color: var(--color-c);
    padding-bottom: 50px;
    text-align: center;
}

h3 {
    font-size: 10vh;
}

p {
    font-size: 5vh;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

.timeline-container h3 {
    padding-bottom: 50px;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 50px;
}

.projects-grid div {
    box-shadow: 10px 10px 15px var(--color-b);
    color: var(--color-b);
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
}

.projects-grid div:hover {
    box-shadow: 10px 10px 15px var(--color-c);
    color: var(--color-c);
}

footer {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    header {
        height: max-content;
    }

    h1 {
        font-size: 20vh;
    }

    h2 {
        font-size: 7.5vh;
    }

    h3 {
        font-size: 5vh;
    }

    p {
        font-size: 2.5vh;
    }
}